# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Archit Mishra
	email = archit72@gmail.com
[format]
	pretty = format:%C(auto)%h %d%Creset %s%n%Cgreen%ad%Creset %aN <%aE>%n
[alias]
	lg = !git --no-pager log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
